body {
    margin: 0;
    font-family: sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background-color: beige;
    height: 70px;
    padding: 0 24px;
  }
  
  ul.menu {
    display: flex;
    gap: 24px;
  
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li::before {
    /* content: "\00A7"; */
    content: "";
  }
  
  .profile {
    position: relative;
  }
  
  .profile::after {
    content: "3";
  
    position: absolute;
    top: 0;
    right: 0;
  
    --size: 20px;
    height: var(--size);
    width: var(--size);
    border-radius: calc(var(--size) / 2);
    background-color: crimson;
    color: white;
    text-align: center;
  }
  
  .profile::before {
    content: "";
  
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  
    height: 10px;
    background-color: darkorange;
  }