header {
    color: black;
    background-color: black;
}
#a1{
    color: aliceblue;
}
#h2 {
    margin-left: 40%;
}
#p1 {
    margin-left: 30%;
}
img{
    margin-left: 40%;
    border-radius: 100px;
}