body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: aliceblue;
  }
  
  * {
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background-color: rgb(78, 0, 223);
    height: 70px;
    padding: 0 24px;
  }
  
  ul {
    display: flex;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav-a{
    color: white;
    text-decoration: none;
  }
  .logo{
    font-size: large;
    margin-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .fork{
    position: absolute;
    left: 20px;
  }
  .container{
    margin: 70px 50px 50px 50px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
  }
  .box{
    
    flex-direction: column;
    margin: 10px;
    display: flex;
    width: 175px;
    height: auto;
    background-color: rgb(211, 186, 235);
    border: solid 1px #fff;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
   
  }

  .img1{
    padding-top: 10px;
    display: block;
        width: 140px;
        height: 140px;
  }
  .info-menu{
    padding: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 0;
    
  }
  .box-head{
    margin: 0;
    text-align: left;
    font-size: medium ;
    color: rgb(78, 0, 223);
  }
  .price{
    margin: 0;
    font-size: small;
    color: rgb(78, 0, 223);
  }
  .box-prgf{
    padding: 0 13px;
    text-align: justify;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
  }